@tailwind base;

@font-face {
    font-family: "Fira Sans Condensed";
    src: url("../fonts/fonts.woff2");
    font-display: block;
    font-style: normal;
    font-weight: 300 900;
    font-stretch: 75% 12%;
}